<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keduw.vortex.dao.TestDao">
    <resultMap id="BaseResultMap" type="com.keduw.vortex.vo.Test">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="auth" jdbcType="VARCHAR" property="auth"/>
    </resultMap>
    <sql id="Base_Column_List">
      id, name, auth
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from test
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
      delete from test
      where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.keduw.vortex.vo.Test">
      insert into test (id, name, auth
        )
      values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{auth,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.keduw.vortex.vo.Test">
        insert into test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="auth != null">
                auth,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="auth != null">
                #{auth,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.keduw.vortex.vo.Test">
        update test
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="auth != null">
                auth = #{auth,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.keduw.vortex.vo.Test">
      update test
      set name = #{name,jdbcType=VARCHAR},auth = #{auth,jdbcType=VARCHAR}
      where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>